/* 추천순, 인기순, 무작위순 active */
.sortBtn {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #8b8b8b;
  cursor: pointer;
}
.sortBtn.active {
  border: 1px solid var(--main-color);
}
.sortText {
  font-size: 12px;
  color: #8b8b8b;
  width: 500;
  white-space: nowrap;
}
.sortText.active {
  color: var(--main-color);
}
