.pcNoticeButton {
  position: fixed;
  display: flex;
  width: 52px;
  min-width: 52px;
  height: 52px;
  bottom: 140px;
  right: 33px;
  z-index: 0;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* transition: all 0.3s; */
}
.pcNoticeButton img {
  transition: all 0.3s;
}
.pcNoticeButton:hover img {
  transform: scale(1.1);
}

/* 로그인 되어 있으면 chat 버튼 위로 위치조정 */
.loginmoveBottom {
  bottom: 230px;
}

.latest_txt {
  font-size: 12px;
  position: absolute;
  z-index: 1;
  background: var(--main-color);
  padding: 0px 5px 2px;
  border-radius: 3px;
  color: #ffffff;
  top: 97%;
  left: 53%;
  transform: translate(-50%, -50%);
  line-height: 1.3;
  will-change: transform;
}
